body {
  color: var(--f-clr);
  background-color: var(--bg);
}

.user-input__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.user-input__location-search {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 10px;

  & > * {
    padding: 10px;
  }
}

.user-input__unit-selection {
  & > * {
    padding: 10px;
  }
}

.weather__container {
  border: var(--b);
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}

.weather__widget {
  &.current {
    padding: 20px;
    margin: 2px;
    border: var(--b);
  }

  &.forecast {
    padding: 20px;
    margin: 2px;
    border: var(--b);
  }
}

.weather__info {
  padding: 20px;
  margin: 2px;
  border: var(--b);
}
