body {
  color: var(--f-clr);
  background-color: var(--bg);
}

h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-m);
}

h4 {
  font-size: var(--fs-4);
  font-weight: var(--fw-n);
}

i[class^='fa'] {
  color: var(--f-clr);
}

#app {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-content: center;
  gap: var(--spc);
}

.user-input__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  gap: var(--spc);

  & input {
    color: var(--f-clr-dark);
  }

  & i {
    color: var(--f-clr-dark);
  }

  & button {
    color: var(--f-clr-dark);
  }
}

.user-input__location-search {
  border-radius: var(--br);
  background: var(--bg-light);
  padding: var(--spc);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  gap: var(--spc);

  & > * {
    padding: var(--spc);
    border-radius: var(--br);
  }

  & .location-search__input {
    font-size: var(--fs-3);
    border: none;
  }

  & .location-search__button {
    font-size: var(--fs-3);
    padding: var(--spc);
    border: none;
  }
}

.user-input__unit-selection {
  border-radius: var(--br);
  background: var(--bg-light);
  padding: var(--spc);

  & > * {
    padding: var(--spc);
    border-radius: var(--br);
    border: none;
    font-size: var(--fs-3);
    font-weight: var(--fw-m);
    width: 5ch;
  }
}

.weather__container {
  border-radius: var(--br);
  background: var(--bg-light);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: var(--spc);
  padding: var(--spc);
}

.weather__widget {
  gap: var(--spc);

  &.forecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.weather__info.current {
  padding: var(--spc);
  background: var(--bg-accent);
  border-radius: var(--br);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr;

  & .weather__info__desc {
    display: grid;

    & .weather__info__desc__img {
      align-self: center;
      justify-self: center;
    }

    & .weather__info__desc__weather {
      font-size: 3rem;
      font-weight: var(--fw-m);
      padding-left: 10%;
      align-self: center;
      margin: 10px;
    }
  }

  & .weather__info__text__temp {
    font-size: 7rem;
    align-self: center;
    margin: 0;
  }

  & .weather__info__text {
    &.current {
      font-size: var(--fs-p);
      align-self: center;
      justify-self: center;
      border-left: var(--b);
      padding-left: 20%;
    }
  }
}

[class^='weather__info day'] {
  background: var(--bg-accent);
  border-radius: var(--br);
  display: grid;
  grid-template:
    'day day' 30%
    'icon text' auto
    / auto 40%;

  & > .weather__info__day {
    grid-area: day;
    justify-self: start;
    align-self: center;
    padding-inline: 10%;
  }

  & > .weather__info__img {
    display: block;
    grid-area: icon;
    justify-self: center;
    align-self: center;
  }

  & > .weather__info__text {
    font-size: var(--fs-p);
    grid-area: text;
    align-self: center;
    border-left: var(--b);
    padding-left: 20%;
  }
}
